<div class="container">
  <div class="row">
    <div class="col-md-3 ">
      <label >Amount</label>
      <input type="text" class="form-control" id="name" required>
      <br/>
      <label >Payment Method</label><br/>
      <select name="Accounts">
          <option value="Cash">Cash</option>
          <option value="BNS Cheque">BNS Cheque</option>
          <option value="Non-BNS Chq">Non-BNS Chq</option>
          <option value="Debit A/C">Debit A/C</option>
        </select>
    </div>
    <div class="col-md-5">

      <app-billslist></app-billslist>
      
    </div>
    <div class="col-md-3 ">
        <label>Service Fees</label>
        
          <select name="Accounts">
            <option value="Standard">Standard</option>            
          </select><br/>
          <label >Amount</label>
          <input type="text" class="form-control" id="name" required>
          <label >Reason</label>
          <input type="text" class="form-control" id="name" required>
    </div>
  </div>
</div>
