<div class="pb-2 d-flex justify-content-between">
  <div class=" bd-highlight">Billing Accounts for Scotland:</div>
  <div class=" bd-highlight">
    <select name="Accounts">
      <option value="Choose">Choose</option>
      <option value="1234 5678 9012">1234 5678 9012</option>
      <option value="1234 5678 9013">1234 5678 9013</option>
      <option value="1234 5678 9014">1234 5678 9014</option>
    </select>
  </div>
</div>

<table style="width:100%">
  <tr>
    <th>Bill Payment Comp.</th>
    <th>Billing Account Number</th>
  </tr>
  <tr>
    <td>NON LISTED BILL</td>
    <td></td>
  </tr>
  <tr>
    <td>NON BNS VISA</td>
    <td></td>
  </tr>
</table>

<div class="pt-2 d-flex bd-highlight">
    <div class=" w-100 bd-highlight"><button type="button" class="btn btn-secondary  btn-block" >Add Payee/Bill</button></div>
    <div class="px-1 w-100 bd-highlight"><button type="button" class="btn btn-secondary  btn-block">Update Payee/Bill</button></div>
    <div class=" w-100 bd-highlight"><button type="button" class="btn btn-secondary btn-block">Delete Payee/Bill</button></div>
</div>


<div class="pb-2 d-flex justify-content-between">
    <div class=" bd-highlight">Pay From Account</div>
    <div class=" bd-highlight">
      
    </div>
  </div>
  
  <table style="width:100%">
    <tr>
      <th>Product</th>
      <th>Account</th>
    </tr>
    <tr>
      <td>AU</td>
      <td>80002 89764 85</td>
    </tr>
    <tr>
      <td>BB</td>
      <td>80002 89764 84</td>
    </tr>
  </table>
