    <form novalidate class="form-horizontal" >
      <div class="pb-1">
        <strong>Choose a Date</strong>
      </div>
      <div class="form-group row">
  
          <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="dateReviewAuditType"
          (change)="radioValChanged()" >
              <div class="col-md-6">
              <label ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" value="review"> Review
              </label>
              </div>
              <div class="col-md-6">
              <label ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" value="audit"> Audit
              </label>      
            </div>     
            </div>      
      </div>
      <div></div>
      <p *ngIf="fromDateErrorMsg">
          <ngb-alert [dismissible]="false" type='danger'>
              {{fromDateErrorMsg}}
          </ngb-alert>
        </p>
        
      <div>
        <ngb-datepicker #datePicker [(ngModel)]="calCurrSelectedDate" name="date-picker" (select)="selectDate($event)" 
        [minDate]="getMinDateVal()" 
        [maxDate]="getMaxDateVal()" 
        [dayTemplate]="dateReviewAuditType == 'audit' ? t : ''">
      </ngb-datepicker>
      <ng-template #t let-date="date" let-focused="focused" let-disabled="disabled">
          <span class="custom-day"
                [class.focused]="focused"
                [class.range]="isRange(date)"
                [class.faded]="isHovered(date) || isInside(date)"
                (mouseenter)="hoveredDate = date"
                (mouseleave)="hoveredDate = null" [class.disabled]="disabled">
            {{ date.day }}
          </span>
        </ng-template>
      </div>
      
  
   <div class="form-group row pt-3">
    <label class="col-md-4 col-form-label">Selected</label>
    <div class="col-md-4 p-0">
      <input type="numeric" class="form-control" name="formattedDate" [(ngModel)]="formattedDate"/>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-ms btn-primary" (click)="populateDate();">Select</button>
    </div>
  </div>
  </form>
  